:root {
    --main-color: #F2E4CF;
    --heading-color:#1E1E1E;
    --text-color: #1E1E1E;
    --white-color:#fff;
    --black-color:#000;
    --main-font: 'Montserrat', sans-serif;
    --heading-font: 'Montserrat', sans-serif;
    --button-font: 'Oswald', sans-serif;
}
html, body{
    font-family: var(--main-font);
}
.container-fluid{
  padding: 0 4%;
}
@media (min-width:1450px){
    .container{
        max-width: 1500px;
    }
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
}
.main_menu_hdr{
  background: #F2E4CF;
  z-index: 99;
  position: relative;
  width: 100%;
}
.left_top{
  display: flex;
  justify-content: flex-start;
}
.hdr_manu_nav{
  width: 50px;
  height: 50px;
}

.hdr_manu_nav input {
  position: fixed;
  opacity: 0;
}

.main_menu_hdr label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.main_menu_hdr label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 38, 57, 0.75);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.main_menu_hdr label .burger {
  position: absolute;
    top: 50%;
    transform: translate(0px, 50%);
    left: 0;
    z-index: 3;
    width: 32px;
    height: 25px;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.main_menu_hdr label .burger::before,
.main_menu_hdr label .burger .bar, .main_menu_hdr label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background:var(--black-color);
  content: "";
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.main_menu_hdr label .burger .bar {
  top: 44%;
}
.main_menu_hdr label .burger::before {
  top: 0;
  transform-origin: top left;
}
.main_menu_hdr label .burger::after {
  bottom: 0;
  transform-origin: bottom left;
}

input:focus + label .burger,
.main_menu_hdr label:hover .burger {
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: #F2E4CF;
  content: "";
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}
#menu ul{
  list-style: none;  
}
#menu ul li{
  margin-bottom: 15px;
}
#menu ul li a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transform: translateX(-100%);
  transition: color 0.15s, transform 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
  transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
  transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
  transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
  transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
  transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
  transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
  color: black;
}

main {
  overflow: hidden;
}
main .content {
  transform: translate3d(0, 0, 0);
  /* material acceleration */
  will-change: transform, filter;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

[id=navcheck]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}
[id=navcheck]:checked + label .burger::before, [id=navcheck]:checked + label .burger::after {
  width: 141.42%;
}
[id=navcheck]:checked + label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}
[id=navcheck]:checked + label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}
[id=navcheck]:checked + label .burger .bar {
  transform: scale(0.1);
}
[id=navcheck]:checked ~ nav {
  transform: translateX(0);
}
[id=navcheck]:checked ~ nav::before {
  transform: skewX(15deg) translateX(0);
}
[id=navcheck]:checked ~ nav a {
  transform: translateX(0);
}
[id=navcheck]:checked ~ main .content {
  transform: translateX(3em);
  transform-origin: left center;
  filter: blur(2px);
}

/* helper */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.main-menu {
  display:block;
  position:relative;
}
.main-menu .navigation.navbar{
  padding: 0;
}
.container-menu {
  width:80%;
  margin:0 auto;
}
.logo{
  display: flex;
  align-items: center;
}

.logo a img{
  width: 100%;
}

.right_top{
  display: flex;
  align-items: center;
}
.call a{
  color: var(--white-color);
  text-decoration: none;
  font-size: 20px;
}
.search_field{
  width: 100%;
  height: 100%;
  position: relative;
}
.search_field .input{
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding-left: 35px;
  padding-right: 10px;
  color: #000;
  border-radius: 0px;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(0 0 0 / 50%);
}
.search_field button{
  position: absolute;
  top: 50%;
  left: 0px;
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
  transform: translate(0px, -50%);
  border: none;
  background: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--text-color);
}
::-moz-placeholder { /* Firefox 19+ */
 color: #9fa3b1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9fa3b1;
}
.icon_c a{
  color: var(--text-color);
  padding: 0px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  font-size: 18px;
}
.add_cart_active span {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 16px;
  height: 16px;
  background: #fe4c4c;
  border-radius: 50%;
  font-size: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.login{
  border-radius: 0px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all ease-in 0.3s;
  position: relative;
  border-left: 1px solid #000;
  padding-left: 10px;
  margin-left: 20px;
}
.login a{
  color: var(--text-color);
  text-decoration: none;
  transition: all ease-in 0.3s;
}
.login a i{
  font-size: 0;
}
.login:hover{
  color:var(--text-color);
  transition: all ease-in 0.3s;
}
.login span{
  position: relative;
}
.login:hover:before{
  bottom: 0;
  transition: all ease-in 0.3s;
}
.search_field .input:focus-visible{
  outline: none;
}


.banner_sec {
  width: 100%;
  background-size: cover;
  position: relative;
  background: #F2E4CF;
}
@media (min-width: 992px) {
  .slider,
  .slide {
      height: 90vh;
  }
}
.slide {
  position: relative;
  transition: 1s;
}
.slide .banner_img {
  width: 56%;
  height: 100%;
  display: flex;
  align-items: center
}
.slide .slide__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 992px) {
  .slide .slide__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .slide .banner_img {
      position: absolute;
      bottom: 0%;
      right: 2%;
      transform: translateY(0%);
  }
}
.slide .banner_img img {
  width: 100%;
}
.banner_right_img{
  padding: 15px;
}
.banner_right_img img{
  width: 100%;
  padding: 10px 0;
}
.banner_right_img a{
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
}
.banner_right_img a span{
  width: 100%;
  position: relative;
  display: block;
}
.slide .slide__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 1 !important;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  transition: all 1s ease;
  object-fit: cover;
}
.slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide .slide__content.slide__content__left {
  left: 6%;
  transform: translate(-6%, -50%);
  width: 34%;
}
.slide .slide__content.slide__content__right {
  right: 15%;
  left: auto;
  transform: translate(5%, -50%);
}
.slide .slide__content--headings {
  color: var(--text-color);
}
.slide .slide__content--headings h2 {
  font-size: 4.5rem;
  margin: 10px 0;
}
.slide .slide__content--headings .animated {
  transition: all 0.5s ease;
}
.slide .slide__content--headings .top-title {
  font-family: var(--main-font);
  font-size: 16px;
}
.slide .slide__content--headings .title {
  font-size: 90px;
  font-family: var(--heading-font);
  font-weight: 800;
}
.slider [data-animation-in] {
  opacity: 0;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
  transition: 1s;
}
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: 50%;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: auto;
  right: 0;
}
.slick-dots li {
  position: relative;
  display: block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.simple-dots .slick-dots li {
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button {
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button:hover,
.simple-dots .slick-dots li button:focus {
  opacity: 1;
}
.simple-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li {
  height: 28px;
  width: 28px;
}
.stick-dots .slick-dots li button {
  position: relative;
  background-color: var(--text-color);
  opacity: 0.25;
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
}
.stick-dots .slick-dots li button:hover,
.stick-dots .slick-dots li button:focus {
  opacity: 1;
}
.stick-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li.slick-active button:hover,
.stick-dots .slick-dots li.slick-active button:focus {
  opacity: 1;
}
/* /////////// IMAGE ZOOM /////////// */
@-webkit-keyframes zoomInImage {
  from {
      transform: scale3d(1, 1, 1);
      transition: 1s;
  }
  to {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
  }
}
@keyframes zoomInImage {
  from {
      transform: scale3d(1, 1, 1);
      transition: 1s;
  }
  to {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
  }
}
.zoomInImage {
  -webkit-animation-name: zoomInImage;
  animation-name: zoomInImage;
}
@-webkit-keyframes zoomOutImage {
  from {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
  }
  to {
      transform: scale3d(1, 1, 1);
      transition: 1s;
  }
}
@keyframes zoomOutImage {
  from {
      transform: scale3d(1.1, 1.1, 1.1);
      transition: 1s;
  }
  to {
      transform: scale3d(1, 1, 1);
      transition: 1s;
  }
}
.zoomOutImage {
  -webkit-animation-name: zoomOutImage;
  animation-name: zoomOutImage;
  transition: 1s;
}
.slick-nav {
  --active: #fff;
  --border: rgba(255, 255, 255, .12);
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 44px);
}
.slick-nav.prev-arrow {
  left: 3%;
  transform: scaleX(-1);
  z-index: 999;
}
.slick-nav.next-arrow {
  left: auto;
  right: 3%;
}
.slick-nav i {
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
}
.slick-nav i:before,
.slick-nav i:after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--active);
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}
.slick-nav i:before {
  transform: rotate(-40deg);
}
.slick-nav i:after {
  transform: rotate(40deg);
}
.slick-nav:before,
.slick-nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid var(--border);
}
.slick-nav svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  color: var(--active);
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}
.slick-nav.animate svg {
  -webkit-animation: stroke 1s ease forwards 0.3s;
  animation: stroke 1s ease forwards 0.3s;
}
.slick-nav.animate i {
  -webkit-animation: arrow 1.6s ease forwards;
  animation: arrow 1.6s ease forwards;
}
.slick-nav.animate i:before {
  -webkit-animation: arrowUp 1.6s ease forwards;
  animation: arrowUp 1.6s ease forwards;
}
.slick-nav.animate i:after {
  -webkit-animation: arrowDown 1.6s ease forwards;
  animation: arrowDown 1.6s ease forwards;
}
@-webkit-keyframes stroke {
  52% {
      transform: rotate(-180deg);
      stroke-dashoffset: 0;
  }
  52.1% {
      transform: rotate(-360deg);
      stroke-dashoffset: 0;
  }
  100% {
      transform: rotate(-180deg);
      stroke-dashoffset: 126;
  }
}
@keyframes stroke {
  52% {
      transform: rotate(-180deg);
      stroke-dashoffset: 0;
  }
  52.1% {
      transform: rotate(-360deg);
      stroke-dashoffset: 0;
  }
  100% {
      transform: rotate(-180deg);
      stroke-dashoffset: 126;
  }
}
@-webkit-keyframes arrow {
  0%,
  100% {
      transform: translateX(0);
      opacity: 1;
  }
  23% {
      transform: translateX(17px);
      opacity: 1;
  }
  24%,
  80% {
      transform: translateX(-22px);
      opacity: 0;
  }
  81% {
      opacity: 1;
      transform: translateX(-22px);
  }
}
@keyframes arrow {
  0%,
  100% {
      transform: translateX(0);
      opacity: 1;
  }
  23% {
      transform: translateX(17px);
      opacity: 1;
  }
  24%,
  80% {
      transform: translateX(-22px);
      opacity: 0;
  }
  81% {
      opacity: 1;
      transform: translateX(-22px);
  }
}
@-webkit-keyframes arrowUp {
  0%,
  100% {
      transform: rotate(-40deg) scaleX(1);
  }
  20%,
  80% {
      transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowUp {
  0%,
  100% {
      transform: rotate(-40deg) scaleX(1);
  }
  20%,
  80% {
      transform: rotate(0deg) scaleX(0.1);
  }
}
@-webkit-keyframes arrowDown {
  0%,
  100% {
      transform: rotate(40deg) scaleX(1);
  }
  20%,
  80% {
      transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowDown {
  0%,
  100% {
      transform: rotate(40deg) scaleX(1);
  }
  20%,
  80% {
      transform: rotate(0deg) scaleX(0.1);
  }
}
/*-------- button Effect-------*/
.red_btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 40px;
  border-radius: 0px;
  position: relative;
  color: var(--white-color);
  background: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
}
.red_btn:hover{
  color: var(--white-color);
  transition: all ease-in 0.3s;
}
.sec_btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 40px;
  border-radius: 0px;
  position: relative;
  color: var(--text-color);
  background: #F2E4CF;
  text-transform: uppercase;
  text-decoration: none;
}
.sec_btn:hover{
  color: var(--text-color);
  transition: all ease-in 0.3s;
}
.thired_btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 40px;
  border-radius: 0px;
  position: relative;
  color: var(--white-color);
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid var(--white-color);
}
.thired_btn:hover{
  color: var(--white-color);
  transition: all ease-in 0.3s;
}
.explore_btn{
  position: absolute;
  bottom: 45px;
  left: 6%;
  transform: translate(-6%, 0px);
}
.explore_btn a{
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 50px;
  width: fit-content;
  padding: 4px;
  text-align: center;
}
.explore_btn a i{
  display: block;
  animation: bounce 2000ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.explore_btn a:hover{
  width: auto;
  color: var(--text-color);
  text-decoration: none;
}
@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

/*-------- button Effect-------*/
.heading_hp h2{
  font-size: 48px;
  font-weight: 600;
  color: var(--heading-color);
  position: relative;
}
.heading_hp h2 span{
  font-weight: 600;
}
.heading_hp h5{
  font-size: 25px;
  font-weight: 700;
  color: var(--heading-color);
  margin-bottom: 25px;
}
.heading_hp p{
  font-size: 15px;
  color: rgb(0 0 0 / 50%);
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}
.heading_hp.text_white h2, .heading_hp.text_white p{
  color: var(--white-color);
}
.all_catagory{
  position: relative;
}
.cata_box {
  padding: 0 10px;
}
.all_catagory .slick-nav i:before, .all_catagory .slick-nav i:after{
  background: var(--black-color);
}
.all_catagory .slick-nav:before, .all_catagory .slick-nav:after{
  border: none;
}
.all_catagory .slick-nav.prev-arrow{
  left: 0;
}
.all_catagory .slick-nav.next-arrow{
  right: 0;
}
.cata_box a{
  text-decoration: none;
  color: var(--black-color);
}
.cata_img{
  width: 100%;
  height: 300px;
  background: var(--text-color);
  position: relative;
  display: inline-block;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}
.cata_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.catagory_box{
  margin-top: 0px;
  background: var(--white-color);
  border-radius: 0 0 30px 30px;
  padding: 0 50px 51px;
  box-shadow: 0 12px 21px rgb(0 0 0 / 10%);
}
.cata_box a h5{
  font-size: 16px;
  margin-bottom: 0;
}
.about_sec{
  padding: 100px 0;
  position: relative;
}
.card_star{
  width: 100%;
  border-bottom: 1px solid rgb(0 0 0 / 24%);
  padding-bottom: 7px;
  margin-bottom: 7px;
}
.card_img{
  background: #E8E7EA;
  padding: 20px;
  border-radius: 10px;
  border:2px solid #E8E7EA;
  width: 100%;
  height: 340px;
  transition: all ease-in 0.3s;
}
.card_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card_star ul{
  padding: 0;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}
.card_star ul li{
  color: #FFD646;
  padding-right: 3px;
}
.card_text{
  padding: 10px 15px 0px;
}
.card_text p{
  margin-bottom: 10px;
}
.card_text h3{
  font-size: 22px;
}
.wish_cart{
  position: absolute;
  right: 11px;
  top: 11px;
  padding: 10px;
  opacity: 1;
  visibility: visible;
  transition: all ease-in 0.3s;
}
.card_box{
  position: relative;
  padding: 25px;
  transition: all ease-in 0.3s;
}
.card_box:hover{
  background: #fff;
  box-shadow: 0 0 25px rgb(0 0 0 / 12%);
  border-radius: 15px;
  transition: all ease-in 0.3s;
}
.wish_cart .wish a{
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 5px;
  color:var(--text-color);
  transition: all ease-in 0.3s;
}
.card_box:hover .wish_cart .wish a{
  color:#FF4242;
  transition: all ease-in 0.3s;
}
.card_text h4 a{
  color: var(--heading-color);
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
}
.product_slid{
  padding: 20px 5px;
}
.card_text .cart{
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in 0.5s;
}
.card_text .cart a{
  background: var(--text-color);
  color: var(--white-color);
  text-decoration: none;
  padding: 8px 35px;
  border-radius: 30px;
  font-size: 14px;
  display: inline-block;
}
.card_box:hover .card_text .cart{
  visibility: visible;
  opacity: 1;
  transition: all ease-in 0.5s;
}
.cannabis_tow_box{
  position: relative;
  padding: 30px;
  background: #0B1220;
  border-radius: 15px;
}
.can_img{
  position: absolute;
  top: 0;
  left: 0;
  width: 53%;
  height: 100%;
  border-radius: 10px;
}
.can_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cannabis_tow_box h2{
  margin-bottom: 25px;
}
.can_bis{
  padding-bottom: 100px;
}
.bg_blue{
  background: var(--main-color);
}
.can_bis_2{
  padding-top: 100px;
}
.online_book_fire {
  width: 100%;
  position: relative;
  padding: 100px 0;
  background: #0B1220;
}
.online_book_bg{
  position: absolute;
  width: 53%;
  height: 100%;
  top: 0;
  left: 0;
}
.online_book_bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.border_b{
  padding: 50px 50px 0 0;
  position: relative;
}
.border_b:before, .border_b:after{
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background: var(--white-color);
}
.border_b:before{
  width: 50%;
  height: 3px;
}
.border_b:after{
  width: 3px;
  height: 80%;
}
.offers_sec{
  padding: 100px 0;
}
.offer_img img{
  width: 100%;
}
.offer_text a{
  font-size: 16px;
  text-decoration: none;
  color: var(--black-color);
}
.offer_text{
  text-align: center;
}
.offer_slid{
  padding: 0 15px;
}
.best_selling_sec{
  padding:0 0 100px;
}
.best_seling_box .card_text{
  padding: 30px;
  position: relative;
}
.best_seling_box .card_img {
  background: #E8E7EA;
  padding: 20px;
  border-radius: 0;
  border: none;
  width: 100%;
  height: 262px;
  transition: all ease-in 0.3s;
}
.best_sell .col:first-child .best_seling_box{
  background: #0B1220;
}
.best_sell .col:nth-child(2) .best_seling_box{
  background: #130C1E;
}
.best_sell .col:nth-child(3) .best_seling_box{
  background: #081809;
}
.best_sell .col:last-child .best_seling_box{
  background: #20130C;
}
.best_seling_box .card_text h4 a{
  color: var(--white-color);
}
.best_seling_box .card_text .card_star{
  border-bottom: 1px solid #fff;
}
.best_seling_box .card_text h3{
  color: var(--white-color);
}
.best_seling_box .card_text .wish{
  text-align: end;
}
.best_seling_box .card_text .wish a{
  color: var(--white-color);
}
.best_seling_box .card_text .cart{
  visibility: visible;
  opacity: 1;
  position: absolute;
  right: 0;
}
.best_seling_box .card_text .cart a {
  background: #F2E4CF;
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 35px;
  border-radius: 30px 0 0 30px;
}
.bg_blog{
  background: #0B1220;
  padding: 30px 0;
}
.blog_box h4 a{
  font-size: 22px;
  color: var(--white-color);
  text-decoration: none;
}
.blog_box span{
  color: var(--white-color);
  margin-bottom: 16px;
  display: block;
  font-size: 15px;
}
.blog_box p{
  color: var(--white-color);
}
.read_more{
  color: var(--white-color);
  position: relative;
  text-decoration: none;
  padding-bottom: 3px;
}
.read_more:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: var(--white-color);
}
.read_more:hover{
  color: var(--white-color);
}
.blog_img{
  width: 100%;
  height: 300px;
  border-radius: 45%;
}
.blog_img img{
  width: 100%;
  height: 100%;
  border-radius: 45%;
}
.blog_slid{
  padding: 0 40px;
  border-right:1px solid #fff;
}
.footer_sec{
  background: #F2E4CF;
  padding: 50px 0 15px;
}
.ftr_logo_sec .ftr_logo{
  width: 250px;
  display: inline-block;
  margin-bottom: 20px;
}
.ftr_logo_sec a img{
  width: 100%;
}
.ftr_logo_sec p{
  color: var(--white-color);
}
.ftr_logo_sec ul{
  display: flex;
  list-style: none;
  padding-left: 0;
}
.ftr_logo_sec ul li{
  padding-right: 5px;
}
.ftr_logo_sec ul li a{
  background: rgb(255 255 255 / 10%);
  width: 35px;
  height: 35px;
  display: flex;
  color: var(--white-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all ease-in 0.3s;
}
.ftr_logo_sec ul li a:hover{
  color: var(--main-color);
  transition: all ease-in 0.3s;
}
.quick_links {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 0;
}
.quick_links h5{
  color: var(--black-color);
  margin-bottom: 0;
  padding-bottom: 15px;
  font-weight: 800;
}
.quick_links_ul ul{
  display: block;
  padding-left: 0;
  list-style: none;
}
.quick_links_ul ul li{
  margin-bottom: 10px;
}
.quick_links_ul ul li a{
  color: var(--black-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.email_text{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.email_text_text{
  width: 100%;
}
.email_text_text .form-control{
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 10px;
}
.email_btn{
  width: 100%;
  background: var(--text-color);
  color: #fff;
  padding: 10px 16px;
  border: none;
}
.culmans_2{
  columns: 2;
}
.email_button input{
  text-transform: uppercase;
}
.copy_1{
  width: 100%;
  display: block;
  border-top: 1px solid rgb(255 255 255 / 10%);
  margin-top: 15px;
  padding-top: 15px;
  text-align: center;
}
.copy_1 p{
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 0;
}
.copy_1 p a{
  text-decoration: none;
  color: var(--text-color);
}


/*------------- Inner Page ----------------- */
.inner_banner_sec {
  padding: 80px 0;
  position: relative;
  background: #F2E4CF;
}
.inner_banner_ontent {
  position: relative;
  z-index: 9
}
.inner_banner_ontent h1 {
  font-size: 55px;
  font-family: var(--heading-font);
  color: var(--heading-color);
  margin-bottom: 0;
  font-weight: 800;
  text-align: center;
}
.inner_banner_ontent h4 {
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 60px;
  font-weight: 300
}
.package_section {
  padding: 80px 0
}
.abt_img img, .abt_img_type2 img{
  border-radius: 10px;
}
.abt_img_type2 {
  padding: 0 0 20px 20px;
  width: 40%;
}
.abt_section{
  padding: 100px 0;
}
.abt_content{
  padding-left: 30px
}
.abt_section p{
  font-size: 14px
}
.abt_content h4{
  margin-bottom: 30px
}
.cta_content{
  position: relative;
  z-index: 9
}
.cta_sec{
  padding: 60px 0;
  position: relative;
}
.cta_content h4{
  font-size: 60px;
  color: #fff
}
.cta_sec::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}
.inner_cata_box{
  padding-top: 50px;
}
.inner_cata_box .cata_img {
  border-radius: 10px;
}

.inner_search_box .search_field button{
  right: 13px;
  left: auto;
}
.inner_search_box .search_field .input {
  padding-left: 20px;
  padding-right: 35px;
  background: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border: none;
  border-radius: 30px;
  height: 50px;
  font-weight: 500;
}
.silver_age h4{
  font-size: 26px;
  font-weight: 600;
}
.silver_age p{
  font-weight: 500;
}
.all_select .form-select{
  border-radius: 30px;
  padding: 12px 30px 12px 18px;
}


.contact-us{

}
.contact-wrap-main{
  margin: 50px 0px;
}
.contact-left h2{
  font-size: 48px;
  font-weight: 600;
}
.contact-left p{
    font-size: 20px;
}
.contact-form{
  margin: 20px 0px;  
  padding: 0px 60px 0px 0px;
}
.contact-us .form-group-wrap{
 margin: 14px 0px;
}
.contact-us .contact-form .form-control{
 padding: 15px 10px;
}
.contact-us .contact-form .send-msg .btn{
    background: var(--text-color);
    color: #fff;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    padding: 10px 0px;
    width: 100%;
    border-radius: 30px;
}
.contact-right{
    position: relative;
    padding: 27px 40px;
    box-shadow: 10px 25px 50px rgb(0 0 0 / 13%);
    border-radius: 10px;
    margin-top: 50px;
}
.contact-info{
   margin-bottom: 48px;   
   padding: 30px 0px;
   border-bottom: 1px solid rgb(0 0 0 / 50%);
}
.contact-info:last-child{
  border: none;
  margin: 0px;  
}
.contact-us .con-icon{
    width: 60px;
    height: 60px;
    background: var(--text-color);
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;  
    text-align: center;
    margin-right: 20px;
}
.contact-us .con-text{
  margin-top: 10px;
}
.contact-us .con-text a{
  color: #161723;
  text-decoration: none;
  font-size: 17px;
}
.contact-us .con-text h3{
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 5px;
}
.map-sec iframe{
  filter: grayscale(1);
}
.catagory_sec{
  padding: 100px 0;
}


/*--- pagination ---*/
#pagination {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}
#pagination li {
  display: block;

}
#pagination li a {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 6px;
  text-decoration: none;
  color: var(--heading-color);
  width: 35px;
  height: 35px;
  display: block;
  border: 1px solid #dfdfdf;
    
}
#pagination li a.active {
  background-color: var(--main-color);
  color: #fff
}
#pagination li a:hover:not(.active) {
  background-color: #ddd;
}
/*--- pagination ---*/
/*--- product_details ---*/

.details-snippet1 {
  color: #585656;
}
/* Main text uses this styling and color */
.details-snippet1 .theme-text {
  color:var(--text-color);
  font-weight: bold;
}
.details-snippet1 .mini-preview img {
  border: 1px solid #585656;
  border: 1px solid var(--main-color);
  margin-bottom: 8px;
}
.details-snippet1 .title {
  color: #464343;
  font-weight: bold;
  font-size: 2rem;
}
.details-snippet1 .price {
  font-weight: bold;
  font-size: 1.8rem;
}
.details-snippet1 .original-price {
  font-weight: normal;
  font-size: 20px;
}
.brief-description {
  color: var(--text-color);
  line-height: 30px;
  font-weight: 500;
}
.brief-description ul{
  list-style: none;
  padding-left: 0;
}
.brief-description ul li{
  position: relative;
  padding-left: 20px;
}
.brief-description ul li:before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  background: var(--main-color);
  transform: translate(0px, -50%);
}
.quentity_de span{
  font-size: 20px;
  font-weight: 600;
  padding-right: 15px;
  color: var(--text-color);
}
.small_number form{
  display: flex;
}
.small_number .value-button {
  display: inline-block;
  border: none;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  background: var(--main-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}
.small_number .value-button:hover {
  cursor: pointer;
}
.small_number form #decrease {
  margin-right: -4px;
  border-radius: 30px 0 0 30px;
}
.small_number form #increase {
  margin-left: -4px;
  border-radius: 0 30px 30px 0;
}
.small_number form #input-wrap {
  margin: 0px;
  padding: 0px;
}
.small_number input#number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 40px;
  height: 40px;
  background: var(--main-color);
}
.small_number input[type=number]::-webkit-inner-spin-button,
.small_number input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.related-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #464343; */
}
.details-snippet1 .related-title {
  color: #464343;
  font-weight: bold;
}
.details-snippet1 .related-price {
  color: #464343;
  font-weight: bold;
}
.additional-details .nav-link {
  border: none;
  color: #464343;
}
.additional-details .nav-link.active {
  background-color: white;
  color: #464343;
  border: none;
  border-bottom: 4px solid var(--main-color);
}
.additional-details{
  background: #F8F3ED;
  border-radius: 0 0 30px 30px;
  padding: 35px;
  box-shadow: 0 19px 20px rgb(0 0 0 / 10%);
}


.small_number .form-control{
  width: 100px;
  height: 56px;
}
.slid_big_img{
  width: 100%;
  height: 500px;
  background: #EBEBEB;
}
.slid_big_img img{
  width:100%;
  height: 100%;
  object-fit: contain;
}
.slid_small_img{
  width: 100%;
  height: 120px;
  background: #EBEBEB;
}
.slid_small_img img{
  width:100%;
  height: 100%;
  object-fit: contain;
}
.small_box_img{
  padding: 0 5px;
}
.slid_rel{
  padding: 25px 0;
}
/*--- product_details ---*/


/*---- login -----*/

.login_page_bnr_f{
  width: 100%;
  background: var(--white-color);
  padding: 0px;
  border-radius: 0;
}
.login_banner_left_text{
  padding: 0 80px;
}
.login_page_bnr {
  padding-top: 0px;
}
.inner_bnr_right_img{
  height: 100vh;
  background: #0B1220;
}
.inner_bnr_right_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login_banner_left_text h2 {
  font-size: 48px;
  color: var(--heading-color);
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}
.login_input span{
  border-radius: 30px;
  background: none;
  border: 1px solid var(--text-color);
  border-right: 0;
  padding: 15px 7px 15px 35px;
  color: var(--heading-color);
}
.login_input .form-control{
  background: none;
  border-radius: 50px;
  padding: 17px 11px;
  border: 1px solid var(--text-color);
  border-left: 0;
  color: var(--text-color);
}
.login_input .form-control:focus{
  border: 1px solid var(--text-color);
  box-shadow: none;
  border-left: 0;
}
.login_input .form-control::-webkit-input-placeholder {
  color: rgb(0 0 0 / 77%);
}
.login_input .form-control:-ms-input-placeholder {
  color: rgb(0 0 0 / 77%);
}
.login_input .form-control::placeholder {
  color: rgb(0 0 0 / 77%);
}
.login_input .input-group-text{
  color: var(--text-color);
}

.login_input .eye_slash{
  border-radius: 30px;
  background: none;
  padding: 15px 19px 15px 18px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-left: 0;
  text-decoration: none;
}
.password_in .form-control{
  border-right: 0;
}
.password_in .form-control:focus{
  border-right: 0;
}
.forgot_pass{
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}
.dont_acc p, .dont_acc p a{
  color: var(--text-color);
}
.dont_acc p{
  margin-bottom: 0;
}
.social_bnr{
  width: 100%;
}
.social_bnr ul{
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.social_bnr ul li {
  margin-right: 5px;
}
.social_bnr ul li a {
  background: rgb(0 0 0 / 20%);
  color: var(--text-color);
  padding: 14px;
  display: inline-block;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 16px;
  line-height: 0;
}
.login_banner_left_text h5{
  color: var(--text-color);
  font-size: 35px;
}
.login_banner_left_text p{
  color: var(--text-color);
}
.v_code .form-control{
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--text-color);
  margin-right: 8px;
  text-align: center;
}
.v_code .form-control:focus{
  box-shadow: none;
}
.login_btn{
  background: var(--text-color);
  color: var(--white-color);
  border-radius: 30px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  transition: all ease-in 0.3s;
  text-transform: uppercase;
}
.login_btn:hover{
  color: var(--white-color);
  background: var(--black-color);
  transition: all ease-in 0.3s;
}
.dont_acc p a{
  font-weight: 600;
  text-decoration: none;
}
/*---- login -----*/

/*---- cart -----*/
.cart_sec{
  padding: 100px 0;
}
.cart_box{
  width: 100%;
}
.cart_left_box{
  padding: 30px;
  background: var(--white-color);
  box-shadow: 0 0 15px rgb(0 0 0 / 6%);
  border-radius: 10px;
}
.cart_small_img{
  width: 110px;
  height: 130px;
  background: #e1e1e1;
  padding: 10px;
  border-radius: 6px;
  margin-right: 15px;
}
.cart_small_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.left_img_text{
  display: flex;
  align-items: center;
}
.left_img_text h5{
  font-size: 20px;
}
.left_img_text span{
  margin-bottom: 10px;
  display: block;
}
.img_left_text ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.img_left_text ul li a{
  color: rgb(0 0 0 / 50%);
  text-decoration: none;
  font-size: 14px;
} 
.img_left_text ul li:first-child{
  border-right: 1px solid #7e7e7e;
  margin-right: 15px;
  padding-right: 15px;
}
.right_text .price {
  font-weight: bold;
  font-size: 22px;
}
.right_text .original-price {
  font-weight: normal;
  font-size: 16px;
}
.shopnow{
  background: var(--text-color);
  padding: 13px;
  border-radius: 5px;
  width: 100%;
  border: none;
  color: var(--white-color);
  text-transform: uppercase;
}

.cart_right{
  background: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  padding: 30px;
}
/*---- cart -----*/



  
/*---- shipping billing -----*/
.form-control {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  padding: 15px;
  color: #282828;
  border-color: transparent;
  border-radius: 0;
  background-color: #f7f7f8;
  box-shadow: none !important;
}
.form-control, .form-control:focus {
  color: #282828;
  border-width: 1px;
  border-style: solid;
  outline: 0 none;
  background-color: #f7f7f8;
  box-shadow: none !important;
}
.form-group:not(:only-child), .form-flex:not(:only-child) {
  margin-bottom: 16px;
}
.holder h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4em;
  position: relative;
  z-index: 1;
  margin: 0 0 20px;
  padding: 0;
  color: #282828;
}
.holder p a{
  color: #df7910;
  text-decoration: none;
}
.holder input[type='checkbox'],
.holder input[type='radio']
{
  display: none;
}
.holder input[type='checkbox']:active + label:before,
.holder input[type='radio']:active + label:before
{
  transition-duration: 0s;
}
.holder input[type='checkbox'] + label,
.holder input[type='radio'] + label
{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.903em;
  position: relative;
  min-width: 100px;
  margin: 0 0 4px 0;
  padding-left: 30px;
  outline: none !important;
}
.holder input[type='checkbox'] + label:before,
.holder input[type='checkbox'] + label:after,
.holder input[type='radio'] + label:before,
.holder input[type='radio'] + label:after
{
  position: absolute; 
  left: 0;
  display: block;
  box-sizing: content-box;
  content: '';
}
.holder input[type='checkbox'] + label:before,
.holder input[type='radio'] + label:before
{
  top: 1px;
  width: 21px;
  height: 21px;
  transition: background-color .2s;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: #f7f7f8;
}
.holder input[type='checkbox'] + label:hover:before,
.holder input[type='radio'] + label:hover:before
{
  background-color: #f7f7f8;
  box-shadow: 0 0 1px rgba(0, 0, 0, .35);
}
.holder input[type='checkbox'] + label:after,
.holder input[type='radio'] + label:after{
  top: 7px;
  left: 6px;
  width: 10px; 
  height: 10px;
  transition: transform .2 ease-out;
  transform: scale(0);
  transform-origin: 50%;
}
.holder input[type='radio'] + label:after{
  background-color:#0B1220;
}
.holder input[type='radio']:checked + label:before{
  -webkit-animation: borderscale 300ms ease-in; 
  -moz-animation: borderscale 300ms ease-in;
  animation: borderscale 300ms ease-in;
  background-color: #f7f7f8;
}
.holder input[type='radio']:checked + label:after{
  transform: scale(1);
}
.holder input[type='radio'] + label:before,
.holder input[type='radio'] + label:after{
  border-radius: 50%;
}
.holder input[type='checkbox'] + label:after{
  top: 8px;
  left: 6px;
  width: 8px; 
  height: 4px;
  transition: none;
  transform: rotate(-45deg) scale(0);
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: #282828;
  background-color: transparent;
}
.holder input[type='checkbox'] + label:hover:after
{
  border-color: #282828;
}
.holder input[type='checkbox']:checked + label:before
{
  -webkit-animation: borderscale .2s ease-in; 
  -moz-animation: borderscale .2s ease-in;
  animation: borderscale .2s ease-in;
}
.holder input[type='checkbox']:checked + label:after
{
  content: ''; 
  transition: transform .2s ease-out;
  transform: rotate(-45deg) scale(1);
}
@keyframes borderscale
{
  50%
  {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .35);
  }
}
.holder label
{
  font-size: 15px;
  font-weight: inherit;
  line-height: 21px;
  margin-bottom: 5px;
  color: #282828;
}

/*---- shipping billing -----*/

/************blog page***********/
.blo_section{
  padding: 100px 0;
}
.single_blog{
  border-bottom: 1px solid #000;
  margin: 0 30px 40px 30px;
  padding-bottom: 30px;
}
.single_blog h6{
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 0    
}
.single_blog h6 span{
  color: #081809;
  display: inline-block;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid #000;
  line-height: 12px
}
.single_blog h2{
  font-size: 45px;
}
.blog_img_wrapper{
  height: 400px;
  margin-bottom: 20px
}
.blog_img_wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover
}
.blog_desc p{
  font-size: 14px
}
.box_1{
  background-color: #FFEED2;
  padding: 30px;
  margin-bottom: 30px
}
.box_1 h4{
  font-size: 36px;
}
.box_1 ul li a{
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
   transition: ease-in all 0.3s
}
.box_1 ul li a:hover{
  padding-left: 15px;
  transition: ease-in all 0.3s
}

/*---*/
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  .active-wishlist {
    color: #fe4c4c !important;
}

.active-wishlist-cart{
  color: #fe4c4c !important;
}

.search_dropdown {
  display: block;
  width: 400px;
  position: absolute;
  list-style: none;
  background: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 0px;
  margin: 0;
  box-shadow: 0 20px 63px rgb(0 0 0 / 25%);
}

.search_dropdown li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all ease-in 0.3s;
}
.search_dropdown li a span {
  width: 45px;
  height: 45px;
  display: inline-block;
  margin-right: 6px;
}
.search_dropdown li a span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search_dropdown li a h5 {
  font-size: 16px;
  margin-bottom: 1px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.search_dropdown li a small {
  color: var(--main-color);
}
.search_dropdown li a:hover {
  padding-left: 15px;
  transition: all ease-in 0.3s;
  background: rgb(0 200 184 / 5%);
}

/* Discount filter */
.discount-f{
  padding: 30px 0px;
}
.discount-f h3{
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.discount-f .form-check{
  padding: 0px 0px 10px 30px;
}
.form-check-input:checked {
  background-color: var(--heading-color);
  border-color: var(--heading-color);
}


.rating {
  width: 226px;
  margin: 0;
  font-size: 45px;
  overflow: hidden;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a,
.rating label {
  float: left;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}
.pure_tab #testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.pure_tab .testimonial-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pure_tab .testimonial-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.pure_tab .testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.pure_tab .testimonial-box {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 0px;
  cursor: pointer;
  margin-bottom: 20px;
}
.pure_tab .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.pure_tab .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pure_tab .profile {
  display: flex;
  align-items: center;
}
.pure_tab .name-user {
  display: flex;
  flex-direction: column;
}
.pure_tab .name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.pure_tab .name-user span {
  color: #979797;
  font-size: 0.8rem;
}
.pure_tab .reviews {
  color: #f9d71c;
}
.pure_tab .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.pure_tab .client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

@media (max-width: 1060px) {
  .pure_tab .testimonial-box {
      width: 45%;
      padding: 10px;
  }
}
@media (max-width: 790px) {
  .pure_tab .testimonial-box {
      width: 100%;
  }
  .pure_tab .testimonial-heading h1 {
      font-size: 1.4rem;
  }
}
@media (max-width: 340px) {
  .pure_tab .box-top {
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .pure_tab .reviews {
      margin-top: 10px;
  }
}

/*rating */

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  display: none;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rated:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.star-rating-complete {
  color: #c59b08;
}
.rating-container .form-control:hover,
.rating-container .form-control:focus {
  background: #fff;
  border: 1px solid #ced4da;
}
.rating-container textarea:focus,
.rating-container input:focus {
  color: #000;
}
.rated {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rated:not(:checked) > input {
  position: absolute;
  display: none;
}
.rated:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ffc700;
}
.rated:not(:checked) > label:before {
  content: "★ ";
}
.rated > input:checked ~ label {
  color: #ffc700;
}
.rated:not(:checked) > label:hover,
.rated:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rated > input:checked + label:hover,
.rated > input:checked + label:hover ~ label,
.rated > input:checked ~ label:hover,
.rated > input:checked ~ label:hover ~ label,
.rated > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
/*  */
.d-price {
  font-weight: normal;
  font-size: 18px;
}



/* disable button out of stock */
.disabledbutton {
    pointer-events: none;
    opacity: 0.3;
}
span.outstock {
    padding: 0 10px;
    font-size: 15px;
    color: red;
}
.img_left_text span.outstock {
    padding: 0;
    margin: 0;
}

